/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ? Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 1px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; padding:2px;}

.body_style { 
    font:13px/1.231 sans-serif; 
    *font-size:small; border-top: 0px;
    background: #fff url(img/bodybg2.jpg) repeat-x;
    font-family: Verdana, Geneva, sans-serif;
} 


select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
/*ul, ol { margin-left: 2em; }*/
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0;}

textarea { border:1px solid #d3d3d3; padding:4px 3px 4px 3px;background-color:#ffe; }
input[type="text"], input[type="password"] { border:1px solid #d3d3d3; padding:4px 0px 4px 3px; background-color:#ffe; width:98%}
select {background-color: #ffe;}
select:disabled {background-color: #bb8;}
input:valid, textarea:valid   { border-top:1px solid #aaa; border-left: 1px solid #aaa; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding:4px 0px 4px 3px; background-color:#ffe; }
input:disabled, textarea:disabled { border:1px solid #aaa; padding:4px 3px 4px 3px;background-color:#bb8; }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: 2px; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

.search { border-top:1px solid #aaa; border-left: 1px solid #aaa; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding:4px 0px 4px 3px; background-color:#fef; }

/*
a, a:active, a:visited { color: #7BA0AF; text-decoration:none;}
a:hover { color: #FF5E99; text-decoration:none;}
    // ==================================================================================== \\
   ||                                           ==========================================   ||
   ||               Your styles !               ==========================================   ||
   ||                                           ==========================================   ||
    \\ ==================================================================================== //
*/

.option_menu {
    width:16%;
    padding-top: 10px;
    display:inline-block;
}

.option_item {
    color:#f0dddd;
    text-decoration: none;
}

.menu_icon {
	background: url(img/menu.png) no-repeat; 
        
	padding-left: 30px;
color:#f0dddd;
    text-decoration: none;
    font-weight: bold;        
}

div.cells {
    background-color: inherit;
    text-align: center;
}

div.cells:hover {
    background-color: #f9a;
    text-align: center;
}

div.show_hide_panel {
	border: 1px solid #008;
	position: relative;
        display:block;  
	background: #EEF;
	/* [disabled]margin-bottom: 10px; */
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	top: 0px;
	margin-top: 2px;
	font-size:13px;
        box-shadow: 3px 3px 3px #ccc;
	border-radius: 5px;
}

 
 
/* -------------------- Box module -------------------- */

div.module { 
	background: url(img/module-body-left-bg.gif) no-repeat scroll bottom left; 
	float: left; 
	width: 100%; 
	margin-top: 0px; 

/*margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
*/
	}

div.module div.module-body { 
	background: url(img/module-body-right-bg.gif) no-repeat scroll bottom right; 
	padding: 20px 3% 20px 3%; float: left; width: 94%;
	}

/* Percentage padding in the module dependant on the cell width */
.grid_1 div.module div.module-body  { padding: 20px 8% 20px 8%; float: left; width: 84%; }
.grid_2 div.module div.module-body  { padding: 20px 7% 20px 7%; float: left; width: 86%; }
.grid_3 div.module div.module-body  { padding: 20px 6% 20px 6%; float: left; width: 88%; }s
.grid_4 div.module div.module-body  { padding: 20px 5% 20px 5%; float: left; width: 90%; }
.grid_5 div.module div.module-body  { padding: 20px 4% 20px 4%; float: left; width: 92%; }
.grid_6 div.module div.module-body  { padding: 20px 3% 20px 3%; float: left; width: 94%; }
.grid_7 div.module div.module-body  { padding: 20px 2.75% 20px  2.75%; float: left; width: 94.5%; }
.grid_8 div.module div.module-body  { padding: 20px 2.5% 20px 2.5%; float: left; width: 95%; }
.grid_9 div.module div.module-body  { padding: 20px 2.25% 20px 2.25%; float: left; width: 95.5%; }
.grid_10 div.module div.module-body { padding: 20px 2% 20px 2%; float: left; width: 96%; }
.grid_11 div.module div.module-body { padding: 20px 1.75% 20px 1.75%; float: left; width: 96.5%; }
.grid_12 div.module div.module-body { padding: 20px 1.5% 20px 1.5%; float: left; width: 97%; }


	
div.module div.module-table-body { 
	background: url(img/module-body-right-bg.gif) no-repeat scroll bottom right; 
	padding: 0; 
	float: left; 
	width: 100%; 

	}

div.module h2 { 
    /* Sliding right image */
    background: url(img/module-header-left-bg.gif) no-repeat scroll top left; 
	display: block;
	float: left;
	height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */

	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

        padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;

	/* FONT PROPERTIES */
	text-decoration: none;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	width: 100%;
	letter-spacing: normal
	

	}

div.module h2 span { 
	/* Background left image */ 
	background: url(img/module-header-right-bg.gif) no-repeat top right; 
	display: block;
	
	padding: 5px 0 5px 18px;
	}
  
div.information {
        background: #faf1fa url(img/infoIcon.png) no-repeat;       
        border: 1px solid #A3A383;
	position: relative;
        display:block;   
	padding-bottom: 10px;
	padding-left: 70px;
	padding-right: 10px;
	padding-top: 10px;
	top: 0px;
	margin-top: 2px;
	font-size:13px;
        box-shadow: 3px 3px 3px #ccc;
	border-radius: 5px;      
}  
div.overview {
	border: 1px solid #A3A383;
	position: relative;
        display:block;  
	background: #fafaf1;
	/* [disabled]margin-bottom: 10px; */
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	top: 0px;
	margin-top: 2px;
	font-size:13px;
        box-shadow: 3px 3px 3px #ccc;
	border-radius: 5px;
}

div.overview fieldset {
	border:1px solid #d3d3d3;
	padding:3px 10px 3px;
	position:relative;
	background:#f1f1f1;
}
div.overview legend {
	font-size:1.1em;
	padding:.3em 1em;
	background:url("custom-theme/images/ui-bg_highlight-hard_75_ebebeb_1x100.png") repeat-x scroll 50% 50% #fff;
	border:1px solid #d3d3d3;
}
div.overview fieldset.login p {
	margin-bottom:1em;
	margin-top:0pt;
}
div.overview fieldset p label {
	width:98%;
}
div.overview fieldset p input {
	width:98%;
}
div.overview fieldset p select {
	width:99%;
}


div.module img {
   float: left;
	margin-top: 5px;
        margin-left: 5px;

 }
div.host_content {
	border: 1px solid #d3d3d3;
	position: relative;
        display:block;  
	background: #f1f1f1;
	/* [disabled]margin-bottom: 10px; */
	padding-top: 6px;
	top: 0px;
	margin-top: 10px;
	font-size:11px;
}

div.evaluacion-radio {}
div.evaluacion-radio input {
    width:20px;
}


/*background: #FF5E99;
color: #fff;
    // ==================================================================================== \\
   ||                                           ==========================================   ||
   ||           END Your styles !               ==========================================   ||
   ||                                           ==========================================   ||
    \\ ==================================================================================== //
*/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/*.hidden { display: none; visibility: hidden; }*/
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
